body {
    margin: 15px;
    font-size: 20px;
    color: rgb(247, 213, 172);
    background-image: url("../images/fon3.jpg");
    background-size: cover;
}

header {
    min-height: 60px;
    display: flex;
    background-image: url("../images/fon5.jpg");
    background-size: cover;
}

aside {
    width: 10%;
    height: 145vh;
    float: left;
    text-decoration: rgb(37, 22, 2);
}

aside a {
    display: block;
    padding: 15px 10px;
    text-align: left;
    text-decoration: rgb(233, 228, 223);
    font-size: 30px;
    color: bisque;
    margin: 5px;
}

.conteiner {
    display: flex;
    min-height: 100px;
}

.conteiner-index p {
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(201, 197, 197), -1px -1px 0px rgb(21, 19, 19);
}

.galeria {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}

.img-galeria {
    width: 20vw;
    height: 310px;
    margin: 20px;
    padding: 15px;
    border: 2px solid rgb(115, 73, 73);
    border-radius: 20px;
}

nav {
    padding-left: 50px;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}

nav a {
    text-align: center;
    font-size: 30px;
    color: bisque;
    padding: 20px;
    text-decoration: none;
    margin-left: 60px;
}

.footer {
    background-image: url("../images/fon5.jpg");
    background-size: cover;
}

.main {
    background-size: cover;
    width: 90%;
    float: left;
    min-height: 85vh;
    color: rgb(225, 219, 219);
    font-weight: 500;
    text-shadow: 1px 1px 0px rgb(230, 216, 216), -1px -1px 0px rgb(21, 19, 19);
}

.row {
    overflow: auto;
}

.cont h1 {
    text-shadow: 1px 1px 0px rgb(141, 138, 138)2px -2px 0px rgb(21, 19, 19);
    text-align: center;
}

.slideshow-conteiner {
    position: relative;
    margin: 100px;
    border: 3px solid rgb(217, 208, 208);
    box-shadow: 10px 10px 15px rgb(219, 184, 184);
    padding: 100px;
}

.slide img {
    height: 300px;
    width: 300px;
    margin-left: 350px;
    padding: 5%;
}

.text {
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 80px;
    padding: 8px 12px;
}

@keyframes povorot {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

@media(max-width: 1300px) {
    aside {
        width: 15%;
    }

    main {
        width: 85%;
    }

    [class*="col-"] {
        float: left;
        width: 100%;
    }
}

@media(max-width: 1000px) {
    aside {
        width: 20px;
    }

    main {
        width: 80%;
    }

    [class*="col-"] {
        float: left;
        width: 100%;
    }
}

@media(max-width: 770px) {
    aside {
        display: 20px;
    }

    main {
        width: 80%;
    }

    [class*="col-"] {
        float: left;
        width: 100%;
    }
}
